body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #212121e3;
  padding: 1rem;
  -webkit-tap-highlight-color: transparent; }
  @media (max-width: 450px) {
    body {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: auto; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 3.5rem; }

.btn {
  display: grid;
  justify-content: center;
  align-content: center;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4a4a4a;
  border-radius: 5rem;
  box-shadow: 0 0 1rem #131313cf; }
  .btn:active {
    box-shadow: none;
    transform: scale(0.98); }
  .btn--gray {
    background-color: #5aff9e;
    color: black;
    box-shadow: 0 0 1rem #131313; }
    .btn--gray:active {
      box-shadow: none;
      transform: scale(0.98); }
  .btn--orange {
    background-color: #61d9ff;
    color: black;
    box-shadow: 0 0 1rem #131313; }
    .btn--orange:active {
      box-shadow: none;
      transform: scale(0.98); }

.svg-icon {
  height: 2.5rem;
  width: 2.5rem; }

.container {
  height: 66rem;
  width: 43rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 11rem repeat(5, 9rem);
  grid-template-columns: repeat(4, 9rem);
  grid-template-areas: "output output 	output 	output" "clear 	back 	mod 	divide" "seven 	eight 	nine 	multiply" "four 	five 	six 	minus" "one 	two 	three 	plus" "zero 	zero 	dot 	equals";
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
  background-color: #2b2b2b;
  border-radius: 1rem;
  box-sizing: content-box;
  box-shadow: 0.5rem 0.5rem 1rem 0px #252323,  0rem 0.5rem 1rem #252323,  -0.5rem 0rem 1rem #424242,  0rem -0.5rem 1rem #424242; }
  @media (max-width: 450px) {
    .container {
      height: 145vw;
      width: 100%;
      padding: 1rem;
      margin: 0 auto;
      display: grid;
      grid-template-rows: 11rem repeat(5, 1fr);
      grid-template-columns: repeat(4, 1fr); } }

.numbers {
  font-family: Oxanium;
  font-weight: 400; }

.fix-font {
  height: 3.5rem; }

#output {
  font-family: "Oxanium", cursive;
  font-weight: 300;
  font-size: 5rem;
  letter-spacing: 5px;
  padding: 1.5rem;
  display: grid;
  justify-content: end;
  align-content: end;
  grid-area: output;
  background-color: #232121;
  border-radius: 1rem;
  box-shadow: 0 0 .5rem #131313cf inset; }

#clear {
  grid-area: clear; }

#backspace {
  grid-area: back; }

#modulus {
  grid-area: mod; }

#divide {
  grid-area: divide; }

#multiply {
  grid-area: multiply; }

#minus {
  grid-area: minus; }

#plus {
  grid-area: plus; }

#equals {
  grid-area: equals; }

#one {
  grid-area: one; }

#two {
  grid-area: two; }

#three {
  grid-area: three; }

#four {
  grid-area: four; }

#five {
  grid-area: five; }

#six {
  grid-area: six; }

#seven {
  grid-area: seven; }

#eight {
  grid-area: eight; }

#nine {
  grid-area: nine; }

#zero {
  grid-area: zero; }

#dot {
  grid-area: dot; }
