@use "../abstracts" as *;

.glass {
   &--light {
      /* colors */
      --primary: #eeeeee;
      --numbers: #ffffff;
      --result: rgb(255 255 255 / 60%);
      --operators: #81feff;
      --others: #79ffb7;
      --circle: rgba(255, 255, 255, 0.2);
      /* gradient */
      --gd-in: #ffffff;
      --gd-out: #d6d6d6;
      /* modal */
      --modal-g-start: #0055ff;
      --modal-g-end: #289799;
      --modal-text: white;
      --modal-shadow: rgb(10 10 93 / 63%);
      /* shadow colors */
      --shadow-white1: rgb(255 255 255);
      --shadow-white2: rgb(255 255 255);
      --shadow-dark1: rgb(70 81 81 / 10%);
      --shadow-dark2: rgb(67 75 75 / 20%);

      background-color: #b409d2;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23511ab1'/%3E%3Cstop offset='1' stop-color='%23511ab1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233211d2'/%3E%3Cstop offset='1' stop-color='%233211d2' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23224fb1'/%3E%3Cstop offset='1' stop-color='%23224fb1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23b409d2'/%3E%3Cstop offset='1' stop-color='%23b409d2' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23283593'/%3E%3Cstop offset='1' stop-color='%23283593' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231976d2'/%3E%3Cstop offset='1' stop-color='%231976d2' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;
   }
   &--dark {
      /* colors */
      --primary: #243441;
      --numbers: #0affef;
      --result: #00879b;
      --operators: #ff565d;
      --others: #00ff64;
      --circle: rgb(52 52 88 / 40%);
      /* gradient */
      --gd-in: #273846;
      --gd-out: #1e2a35;
      /* modal */
      --modal-g-start: #003231;
      --modal-g-end: #000b1e;
      --modal-text: #00ffd8;
      --modal-shadow: rgb(0 225 255 / 60%);
      /* shadow colors */
      --shadow-white1: rgb(44 64 80 / 70%);
      --shadow-white2: rgb(44 64 80 / 80%);
      --shadow-dark1: rgb(0 0 0 / 16%);
      --shadow-dark2: rgb(0 0 0 / 26%);

      background-color: #330241;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23090245'/%3E%3Cstop offset='1' stop-color='%23090245' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23290243'/%3E%3Cstop offset='1' stop-color='%23290243' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23020747'/%3E%3Cstop offset='1' stop-color='%23020747' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23330241'/%3E%3Cstop offset='1' stop-color='%23330241' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23012a49'/%3E%3Cstop offset='1' stop-color='%23012a49' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231e0246'/%3E%3Cstop offset='1' stop-color='%231e0246' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;
   }
}

.circle {
   &1 {
      @include size($h: 40rem, $w: 40rem);
      @include bg($c: $circle);
      @include pbm($rad: 50%, $b: 1px solid rgba(255, 255, 255, 0.15));
      @include pos-absolute();
      transform: translate(-20rem, -30rem);
      backdrop-filter: blur(5px);
      box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);

      @media (max-width: 450px) {
         transform: translate(-20rem, -20rem);
      }
   }
   &2 {
      @include size($h: 20rem, $w: 20rem);
      @include bg($c: $circle);
      @include pbm($rad: 50%, $b: 1px solid rgba(255, 255, 255, 0.15));
      @include pos-absolute();
      backdrop-filter: blur(5px);
      transform: translate(20rem, 35rem);
      box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
   }
}
