@use "../abstracts" as *;

.glass {
   &--light {
      /* colors */
      --primary: #eeeeee;
      --numbers: #ffffff;
      --result: rgb(255 255 255 / 60%);
      --operators: #81feff;
      --others: #79ffb7;
      /* gradient */
      --gd-in: #ffffff;
      --gd-out: #d6d6d6;
      /* modal */
      --modal-g-start: #0055ff;
      --modal-g-end: #289799;
      --modal-text: white;
      --modal-shadow: rgb(10 10 93 / 63%);
      /* shadow colors */
      --shadow-white1: rgb(255 255 255);
      --shadow-white2: rgb(255 255 255);
      --shadow-dark1: rgb(70 81 81 / 10%);
      --shadow-dark2: rgb(67 75 75 / 20%);
   }
   &--dark {
      /* colors */
      --primary: #243441;
      --numbers: #0affef;
      --result: #00879b;
      --operators: #ff565d;
      --others: #00ff64;
      /* gradient */
      --gd-in: #273846;
      --gd-out: #1e2a35;
      /* modal */
      --modal-g-start: #003231;
      --modal-g-end: #000b1e;
      --modal-text: #00ffd8;
      --modal-shadow: rgb(0 225 255 / 60%);
      /* shadow colors */
      --shadow-white1: rgb(44 64 80 / 70%);
      --shadow-white2: rgb(44 64 80 / 80%);
      --shadow-dark1: rgb(0 0 0 / 16%);
      --shadow-dark2: rgb(0 0 0 / 26%);
   }
}
