@use "../abstracts" as *;

.material {
   &--light {
      /* colors */
      --primary: #eeeeee;
      --numbers: #318a9d;
      --result: #84b6c1;
      --operators: #9f3430;
      --others: #3ea362;
      /* modal */
      --modal-g-start: #45639d;
      --modal-g-end: #289799;
      --modal-text: white;
      --modal-shadow: rgb(10 10 93 / 63%);
      /* shadow colors */
      --shadow: rgb(0 0 0 / 10%);

      @include bg($c: $primary);
   }
   &--dark {
      /* colors */
      --primary: #243441;
      --numbers: #0affef;
      --result: #00879b;
      --operators: #ff565d;
      --others: #00ff64;
      /* modal */
      --modal-g-start: #003231;
      --modal-g-end: #000b1e;
      --modal-text: #00ffd8;
      --modal-shadow: rgb(0 225 255 / 60%);
      /* shadow colors */
      --shadow: rgb(255 255 255 / 10%);

      @include bg($c: $primary);
   }
}
