
.material {
	&--light {
		/* colors */
		--primary: #eeeeee;
		--primary-filter: invert(100%) sepia(0%) saturate(5266%) hue-rotate(264deg) brightness(114%) contrast(87%);
		--numbers: #318a9d;
		--result: #84b6c1;
		--operators: #9f3430;
		--operators-filter: invert(19%) sepia(55%) saturate(1781%) hue-rotate(332deg) brightness(116%) contrast(91%);
		--others-filter: invert(52%) sepia(15%) saturate(1759%) hue-rotate(88deg) brightness(94%) contrast(90%);
		/* modal */
		--modal-g-start: #45639d;
		--modal-g-end: #289799;
		--modal-text: white;
		--modal-shadow: rgb(10 10 93 / 63%);
		/* shadow colors */
		--shadow: rgb(0 0 0 / 10%);
	}
	&--dark {
		/* colors */
		--primary: #243441;
		--primary-filter: invert(15%) sepia(45%) saturate(452%) hue-rotate(165deg) brightness(95%) contrast(89%);
		--numbers: #0affef;
		--result: #00879b;
		--operators: #ff565d;
		--operators-filter: invert(52%) sepia(20%) saturate(7428%) hue-rotate(324deg) brightness(101%) contrast(108%);
		--others-filter: invert(70%) sepia(78%) saturate(918%) hue-rotate(83deg) brightness(97%) contrast(113%);
		/* modal */
		--modal-g-start: #003231;
		--modal-g-end: #000b1e;
		--modal-text: #00ffd8;
		--modal-shadow: rgb(0 225 255 / 60%);
		/* shadow colors */
		--shadow: rgb(255 255 255 / 10%);
	}
}
