
.neu-plane {

	&--light {
		/* colors */
		--primary: #eeeeee;
		--numbers: #318a9d;
		--result: #84b6c1;
		--operators: #9f3430;
		--operators-filter: invert(19%) sepia(55%) saturate(1781%) hue-rotate(332deg) brightness(116%) contrast(91%);
		--others: #3ea362;
		--others-filter: invert(52%) sepia(15%) saturate(1759%) hue-rotate(88deg) brightness(94%) contrast(90%);
		/* modal */
		--modal-g-start: #45639d;
		--modal-g-end: #289799;
		--modal-text: white;
		--modal-shadow: rgb(10 10 93 / 63%);
		/* shadow colors */
		--shadow-white1: rgb(255 255 255);
		--shadow-white2: rgb(255 255 255);
		--shadow-dark1: rgb(70 81 81 / 10%);
		--shadow-dark2: rgb(67 75 75 / 20%);
	}
	&--dark {
		/* colors */
		--primary: #262626;
		--numbers: #00deff;
		--result: #00879b;
		--operators: #00ff64;
		--operators-filter: invert(70%) sepia(78%) saturate(918%) hue-rotate(83deg) brightness(97%) contrast(113%);
		--others: #3ea362;
		--others-filter: invert(88%) sepia(8%) saturate(7267%) hue-rotate(2deg) brightness(107%) contrast(104%);
		/* modal */
		--modal-g-start: #003231;
		--modal-g-end: #000b1e;
		--modal-text: #00ffd8;
		--modal-shadow: rgb(0 225 255 / 60%);
		/* shadow colors */
		--shadow-white1: rgb(115 115 115 / 10%);
		--shadow-white2: rgb(70 70 70 / 30%);
		--shadow-dark1: rgb(12 12 12 / 20%);
		--shadow-dark2: rgb(19 19 19 / 40%);
	}
}