@use "../abstracts" as *;

// Output Animations
@keyframes slide-up {
   from {
      opacity: 1;
      color: $result;
      font-size: 3rem;
      transform: translateY(6.1rem);
   }
   to {
      opacity: 1;
   }
}
@keyframes flip-in {
   from {
      transform: perspective(100px) rotateX(-90deg);
   }
   to {
      opacity: 1;
   }
}
@keyframes flip-out {
   from {
      opacity: 1;
   }
   to {
      transform: perspective(300px) rotateX(90deg);
      opacity: 0;
   }
}
.result {
   &-leave-active {
      animation: flip-out 0.5s ease forwards;
   }
   &-enter-active {
      animation: slide-up 0.5s ease forwards;
   }
}
.clear {
   &-leave-active {
      animation: flip-out 0.5s ease forwards;
   }
   &-enter-active {
      opacity: 0;
      animation: flip-in 0.5s ease forwards 0.3s;
   }
}

// Preloader Spinner Animation
@keyframes spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

// Simple Fade
@keyframes fade {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
.fade {
   &-leave-active {
      animation: fade 0.5s ease reverse;
   }
   &-enter-active {
      animation: fade 0.5s ease forwards;
   }
}
.fade-in {
   animation: fade 0.5s ease forwards;
}
.fade-out {
   animation: fade 0.5s ease reverse;
}
