
@keyframes fade-in {
    from {
        opacity: 1;
        color: $result;
        font-size: 3rem;
        transform: translateY(6.1rem);
    }
    to { opacity: 1; }
}
@keyframes fade-out {
    from { opacity: 1; }
    to { transform: perspective(300px) rotateX(90deg); opacity: 0; }
}
@keyframes clear-in {
    from { transform: perspective(100px) rotateX(-90deg); }
    to { opacity: 1; }
}
@keyframes modal-zoom-in {
    from { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
    50% { opacity: 1; }
}
@keyframes modal-zoom-out {
    from { opacity: 1; }
    50% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
    to { opacity: 0; }
}
@keyframes modal-fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.loader {
    &-leave-active { animation: modal-fade .5s ease reverse; }
    &-enter-active { animation: modal-fade .5s ease forwards; }
}
.fade {
    &-leave-active { animation: fade-out .5s ease forwards; }
    &-enter-active { animation: fade-in .5s ease forwards; }
}
.clear {
    &-leave-active { animation: fade-out .5s ease forwards; }
    &-enter-active { opacity: 0; animation: clear-in .5s ease forwards .3s; }
}
.modal-zoom {
    &-enter-active { animation: modal-zoom-in .5s ease forwards; }
    &-leave-active { animation: modal-zoom-out 1s ease forwards; }
}
.modal-fade {
    &-enter-active { animation: modal-fade .5s ease forwards; }
    &-leave-active { animation: modal-fade .5s ease reverse; }
}