@use '../abstracts' as *;

:root {
   //#fonts:#//
   --ss: sans-serif;

   //#colors:#//
   --white: White;
}

body {
   -webkit-tap-highlight-color: transparent;
   tap-highlight-color: transparent;
}
