
:root {
	--primary: #eeeeee;
	--numbers: #318a9d;
	--numbers-dark: #9eb2b7;
	--operators: invert(19%) sepia(55%) saturate(1781%) hue-rotate(332deg) brightness(116%) contrast(91%);
	--others: invert(52%) sepia(15%) saturate(1759%) hue-rotate(88deg) brightness(94%) contrast(90%);
}

body {
	@include flex( $jc: center , $ai: center );
	@include box( $h: 100vh , $w: 100vw );
	background-color: $primary;
	-webkit-tap-highlight-color: transparent;
}