
/* font-family */
$opensans: 'Open Sans', sans-serif;
$ocanium: 'Oxanium', cursive;

/* colors */
$primary: var(--primary);
$primary-dark: var(--primary-dark);
$button: var(--button);
$numbers: var(--numbers);
$operators: var(--operators);
$others: var(--others);