
/* colors */
$primary: var(--primary);
$numbers: var(--numbers);
$result: var(--result);
$operators: var(--operators);
$operators-filter: var(--operators-filter);
$others: var(--others);
$others-filter: var(--others-filter);
/* shadow colors */
$shadow-white: var(--shadow-white);
$shadow-dark1: var(--shadow-dark1);
$shadow-dark2: var(--shadow-dark2);



/* font-family */
@font-face {
	font-family: "digital7";
	src: url("./assets/fonts/digital7.ttf");
}
@font-face {
	font-family: "Coustard";
	src: url("./assets/fonts/Coustard.ttf");
}
@font-face {
	font-family: "Solway";
	src: url("./assets/fonts/Solway.ttf");
}
$digital7: 'digital7';
$solway: 'Solway', serif;
$coustard: 'Coustard', serif;