
.btn {
	@include grid( $jc: center , $ac: center);
	@include typo( $c: inherit , $ff: inherit , $fw: inherit , $fs: inherit );
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #4a4a4a;
	border-radius: 5rem;
	box-shadow: 0 0 1rem #131313cf;

	&:active {
		box-shadow: none;
		transform: scale(0.98);
	}

	

	&--gray {
		background-color: #5aff9e;
		color: black;
		box-shadow: 0 0 1rem #131313;

		&:active {
			box-shadow: none;
			transform: scale(0.98);
		}
	}

	&--orange {
		background-color: #61d9ff;
		color: black;
		box-shadow: 0 0 1rem #131313;

		&:active {
			box-shadow: none;
			transform: scale(0.98);
		}
	}

}