
.container {
	@include box( $h: 66rem , $w: 43rem , $p: null , $b: null , $m: 0 auto );
	@include grid( 
		$cols:	repeat( 4 , 9rem ) ,
		$rows:	11rem repeat( 5 , 9rem) ,
		$gap:	1.5rem ,
		$jc: center ,
		$ac: center ,
		$areas: 'output output 	output 	output'
				'clear 	back 	mod 	divide'
				'seven 	eight 	nine 	multiply'
				'four 	five 	six 	minus'
				'one 	two 	three 	plus'
				'zero 	zero 	dot 	equals'
	);
	background-color: #2b2b2b;
	border-radius: 1rem;
	box-sizing: content-box;
	box-shadow: 0.5rem 0.5rem 1rem 0px #252323, 
				0rem 0.5rem 1rem #252323, 
				-0.5rem 0rem 1rem #424242, 
				0rem -0.5rem 1rem #424242;

	@media (max-width: 450px) {
		@include box( $w: 100% , $h: 145vw , $p: 1rem , $m: 0 auto );
		@include grid( 
			$cols:	repeat( 4 , 1fr ) ,
			$rows:	11rem repeat( 5 , 1fr)
		);
	}
}