
.btn {
	@include flex( $jc: center , $ai: center );
	@include typo( $ff: $digital7 , $fw: 500 , $fs: 3.6rem );
	outline: none;
	cursor: pointer;
	background-color: $primary;
	color: $numbers;
	border-radius: 5rem;
	border: 2px solid $primary;
	&-num { height: 3.5rem; }
	&-op { @include box( $h: 1.8rem , $w: 1.8rem ); filter: $operators-filter; }
	&-ot { @include box( $h: 1.8rem , $w: 1.8rem ); filter: $others-filter; }

	&--neu-plane {
		box-shadow: -4px -4px 8px $shadow-white2 , 4px 4px 8px $shadow-dark2;

		&:active {
			font-size: 3.4rem;
			box-shadow: -4px -4px 8px $shadow-white2 , 4px 4px 8px $shadow-dark2 ,
						inset -3px -3px 6px $shadow-white2 , inset 3px 3px 6px $shadow-dark2;
			.btn-ot { transform: scale(.9); }
			.btn-op { transform: scale(.9); }
		}
	}
	&--neu-3d {
		background: linear-gradient(145deg, $gd-in, $gd-out);
		box-shadow: -4px -4px 8px $shadow-white2 , 4px 4px 8px $shadow-dark2;

		&:active {
			background: linear-gradient(145deg, $gd-out, $gd-in);
			font-size: 3.4rem;
			box-shadow: -4px -4px 8px $shadow-white2 , 4px 4px 8px $shadow-dark2 ,
						inset -3px -3px 6px $shadow-white2 , inset 3px 3px 6px $shadow-dark2;
			.btn-ot { transform: scale(.9); }
			.btn-op { transform: scale(.9); }
		}
	}
	&--material {
		border: none;
		box-shadow: none;
		
		&:active {
			border: 1px solid $numbers;
		}
	}
}


#plus.btn--material {
	&:active { border: 1px solid $operators; } }
#minus.btn--material {
	&:active { border: 1px solid $operators; } }
#divide.btn--material {
	&:active { border: 1px solid $operators; } }
#multiply.btn--material {
	&:active { border: 1px solid $operators; } }
#modulus.btn--material {
	&:active { border: 1px solid $operators; } }
#equals.btn--material {
	&:active { border: 1px solid $operators; } }
#clear.btn--material {
	&:active { border: 1px solid $others; } }
#backspace.btn--material {
	&:active { border: 1px solid $others; } }
