@use "../abstracts" as *;

.btn {
   @include bg($c: $primary);
   @include typo($c: $numbers, $ff: $digital7, $fs: 3.3rem, $fw: 500);
   @include pbm($b: 2px solid $primary, $rad: 5rem);
   @include flex($jc: center, $ai: center);
   cursor: pointer;
   outline: none;
   &-op {
      fill: $operators;
   }
   &-ot {
      fill: $others;
   }

   &--neu {
      box-shadow: -4px -4px 8px $shadow-white2, 4px 4px 8px $shadow-dark2;

      &:active {
         font-size: 3.4rem;
         box-shadow: -4px -4px 8px $shadow-white2, 4px 4px 8px $shadow-dark2, inset -3px -3px 6px $shadow-white2,
            inset 3px 3px 6px $shadow-dark2;
         .btn-ot {
            transform: scale(0.9);
         }
         .btn-op {
            transform: scale(0.9);
         }
      }
   }
   &--glass {
      background-color: transparent;
      border: none;

      &:active {
         border: solid 1px rgba(255, 255, 255, 0.3);
      }
   }
   &--material {
      border: none;
      box-shadow: none;

      &:active {
         border: 1px solid $numbers;
      }
   }
}

#plus.btn--material:active {
   border: 1px solid $operators;
}
#minus.btn--material:active {
   border: 1px solid $operators;
}
#divide.btn--material:active {
   border: 1px solid $operators;
}
#multiply.btn--material:active {
   border: 1px solid $operators;
}
#modulus.btn--material:active {
   border: 1px solid $operators;
}
#equals.btn--material:active {
   border: 1px solid $operators;
}
#clear.btn--material:active {
   border: 1px solid $others;
}
#backspace.btn--material:active {
   border: 1px solid $others;
}
