
.btn {
	@include flex( $jc: center , $ai: center );
	@include typo( $ff: $digital7 , $fw: 500 , $fs: 3.6rem );
	outline: none;
	cursor: pointer;
	&-num { height: 3.5rem; }

	&--neu-plane {
		background-color: $primary;
		color: $numbers;
		border: 2px solid $primary;
		border-radius: 5rem;
		box-shadow: -4px -4px 8px $shadow-white2 , 
					4px 4px 8px $shadow-dark2;

		&:active {
			font-size: 3.4rem;
			box-shadow: inset -3px -3px 6px $shadow-white2,
						inset 3px 3px 6px $shadow-dark2,
						-4px -4px 8px $shadow-white2,
						4px 4px 8px $shadow-dark2;

			.btn-ot { transform: scale(.9); }
			.btn-op { transform: scale(.9); }
		}
	}
	&--neu-3d {
		background-color: $primary;
		background: linear-gradient(145deg, $gd-in, $gd-out);
		color: $numbers;
		border: 2px solid $primary;
		border-radius: 5rem;
		box-shadow: -4px -4px 8px $shadow-white2 , 
					4px 4px 8px $shadow-dark2;

		&:active {
			background: linear-gradient(145deg, $gd-out, $gd-in);
			font-size: 3.4rem;
			box-shadow: inset -3px -3px 6px $shadow-white2,
						inset 3px 3px 6px $shadow-dark2,
						-4px -4px 8px $shadow-white2,
						4px 4px 8px $shadow-dark2;

			.btn-ot { transform: scale(.9); }
			.btn-op { transform: scale(.9); }
		}
	}
	&--material {
		background-color: $primary;
		color: $numbers;
		border: 2px solid $primary;
		border-radius: 5rem;
		box-shadow: -4px -4px 8px $shadow-white2 , 
					4px 4px 8px $shadow-dark2;

		&:active {
			font-size: 3.4rem;
			box-shadow: inset -3px -3px 6px $shadow-white2,
						inset 3px 3px 6px $shadow-dark2,
						-4px -4px 8px $shadow-white2,
						4px 4px 8px $shadow-dark2;

			.btn-ot { transform: scale(.9); }
			.btn-op { transform: scale(.9); }
		}
	}
	
	&-op {
		@include box( $h: 1.8rem , $w: 1.8rem );
		&--neu-plane { filter: $operators-filter; }
		&--neu-3d { filter: $operators-filter; }
		&--material { filter: $operators-filter; }
	}

	&-ot {
		@include box( $h: 1.8rem , $w: 1.8rem );
		&--neu-plane { filter: $others-filter; }
		&--neu-3d { filter: $others-filter; }
		&--material { filter: $others-filter; }
	}
}