@use "../abstracts" as *;

.modal {
   @include size($h: 40rem, $w: 40rem);
   background: linear-gradient(to bottom right, $modal-g-start, $modal-g-end);
   @include pbm($p: 1rem, $rad: 2rem);
   @include pos-fixed($t: 50%, $l: 50%);
   transform: translate3d(-50%, -50%, 0);
   box-shadow: 0 0 5rem 1rem rgb(0 0 0 / 40%);
   will-change: transform;
   @include disable-selection;

   @media (max-width: 450px) {
      width: 90vw;
   }

   &__close {
      @include typo($c: $modal-text, $ff: $solway, $fs: 3rem, $fw: 900);
      @include pbm($rad: 5rem);
      @include pos-absolute($t: 1rem, $r: 2rem);
      @include flex($jc: center, $ai: center);
      cursor: pointer;
      transform: scale(1.4);
      transition: transform 0.3s;

      &:hover {
         transform: scale(1.7);
      }
   }

   &__content {
      @include size($h: 100%, $w: 100%);
      @include flex($fd: column, $jc: center);

      &--row {
         @include flex($fd: column, $jc: center, $ai: center);

         &-heading {
            @include bg($c: $modal-text);
            @include typo($c: $modal-g-start, $ff: $solway, $fs: 3rem, $fw: 700);
            @include pbm($p: 1rem 2rem, $mb: 2rem, $rad: 2rem);
            box-shadow: 0 0 2rem $modal-shadow;
         }

         &-body {
            @include size($w: 100%, $h: 5rem);
            @include typo($c: $modal-text, $ff: sans-serif, $fw: 400, $fs: 2.5rem);
            @include flex($jc: space-evenly, $ai: center);

            span {
               @include flex($fd: column, $ai: center);
               cursor: pointer;

               &::after {
                  content: "";
                  @include size($h: 2px, $w: 0px);
                  background: radial-gradient(circle, $modal-text 30%, transparent 100%);
                  @include pbm($rad: 5rem, $mt: 5px);
                  display: inline-block;
                  transition: width 0.4s;
               }
               &:hover::after {
                  width: 100%;
               }
            }
            .active {
               @include flex($fd: column);
               cursor: pointer;

               &::after {
                  width: 100%;
               }
            }

            @media (max-width: 450px) {
               font-size: 2rem;
            }
         }

         &:not(:last-child) {
            margin-bottom: 5rem;
         }
      }
   }
}
