@use "../abstracts" as *;

.loader {
   &--light {
      @include size($h: 100vh, $w: 100vw);
      @include bg($c: #eeeeee);
      @include pos-fixed($t: 0, $l: 0, $z: 9999);
      @include flex($jc: center, $ai: center);

      &::after {
         content: "";
         @include size($h: 4rem, $w: 4rem);
         @include pbm($b: 4px solid #eeeeee, $rad: 50%);
         border-top: 4px solid #318a9d;
         border-bottom: 4px solid #318a9d;
         animation: spin 1s linear infinite;
      }
   }
   &--dark {
      @include size($h: 100vh, $w: 100vw);
      @include bg($c: #243441);
      @include pos-fixed($t: 0, $l: 0, $z: 9999);
      @include flex($jc: center, $ai: center);

      &::after {
         content: "";
         @include size($h: 4rem, $w: 4rem);
         @include pbm($b: 4px solid #243441, $rad: 50%);
         border-top: 4px solid #0affef;
         border-bottom: 4px solid #0affef;
         animation: spin 1s linear infinite;
      }
   }
}
