
.loader {
	@include pos-fixed( $t: 0 , $l: 0 , $z: 9999 );
	@include box( $h: 100vh , $w: 100vw );
	@include flex( $jc: center , $ai: center );
	background-color: var(--primary);

	&--light {
		--primary: #eeeeee;
		--secondary: #318a9d;
	}
	&--dark {
		--primary: #243441;
		--secondary: #0affef;
	}

	&::after {
		content: "";
		@include box( $h: 4rem , $w: 4rem );
		border: 4px solid var(--primary);
		border-radius: 50%;
		border-top: 4px solid var(--secondary);
		border-bottom: 4px solid var(--secondary);
		animation: spin 1s linear infinite;
	}
}
