    
.settings {
    @include pos-fixed( $t: 2rem , $r: 2rem , $z: 100 );
    @include box( $h: 3rem , $w: 3rem );
	cursor: pointer;

    &-btn {
        @include box( $h: 100% , $w: 100% );
    	cursor: pointer;
    	fill: $numbers;
        transition: all .3s;

        &:hover {
            fill: $operators;
            transform: rotate(45deg) scale(1.2);
        }
    }
}
