
.svg-icon {
	@include box( $h: 1.8rem , $w: 1.8rem );
	filter: invert(47%) sepia(63%) saturate(436%) hue-rotate(143deg) brightness(87%) contrast(90%);

	&-back {
		@include box( $h: 2.4rem , $w: 2.4rem );
		filter: invert(47%) sepia(63%) saturate(436%) hue-rotate(143deg) brightness(87%) contrast(90%);
	}
	&-test {
		color: $numbers;
		font-size: 2.8rem;
	}
}