@use '../abstracts' as *;

.container {
   @include size($h: 100vh, $w: 100vw);
   @include bg($c: $primary);
   @include flex($jc: center, $ai: center);
   overflow: hidden;
   transition: filter 0.5s;
   -webkit-tap-highlight-color: transparent;

   @media (max-width: 450px) {
      @include size($h: auto, $w: auto);
      align-items: flex-start;
   }
}

.blur {
   filter: blur(2px);
}
