
.container {
	@include box( $h: 66rem , $w: 42rem );
	@include grid(
		$cols:	repeat( 4 , 8rem ) ,
		$rows:	12rem repeat( 5 , 8rem) ,
		$gap:	2rem ,
		$jc: 	center ,
		$ac: 	center ,
		$areas: 'output output 	output 	output'
				'clear 	back 	mod 	divide'
				'seven 	eight 	nine 	multiply'
				'four 	five 	six 	minus'
				'one 	two 	three 	plus'
				'zero 	zero 	dot 	equals'
	);
	border-radius: 2rem;
	border: 3px solid $primary;
	background: $primary;
	box-shadow: -1rem -1rem 2rem $shadow-white,
				1rem 1rem 2rem $shadow-dark1;
	@include disable-selection;
}