@use "../abstracts" as *;

.grid {
   @include size($h: 66rem, $w: 42rem);
   @include bg($c: $primary);
   @include pbm($b: 3px solid $primary, $rad: 2rem, $mb: 3rem);
   @include grid(
      $cols: repeat(4, 8rem),
      $rows: 12rem repeat(5, 8rem),
      $gap: 2rem,
      $jc: center,
      $ac: center,
      $areas: "output output 	output 	output" "clear 	back 	mod 	divide" "seven 	eight 	nine 	multiply" "four 	five 	six 	minus"
         "one 	two 	three 	plus" "zero 	zero 	dot 	equals"
   );
   @include disable-selection;

   @media (max-width: 450px) {
      @include size($h: calc(92vw * 1.58), $w: 92%);
      @include pbm($p: 1.5rem, $mt: 1.5rem);
      @include grid($cols: repeat(4, 1fr), $rows: 12rem repeat(5, 1fr), $gap: 1.5rem);
   }
   @media (max-width: 400px) {
      @include size($h: calc(96vw * 1.58), $w: 92%);
   }

   &--neu-plane {
      &--light,
      &--dark {
         box-shadow: -1rem -1rem 2rem $shadow-white1, 1rem 1rem 2rem $shadow-dark1;
      }
   }
   &--neu-3d {
      &--light {
         background: rgba(255, 255, 255, 0.2);
         border: solid 1px rgba(255, 255, 255, 0.3);
         backdrop-filter: blur(10px);
      }
      &--dark {
         background: rgba(0, 0, 0, 0.2);
         border: solid 1px rgba(255, 255, 255, 0.3);
         backdrop-filter: blur(10px);
      }
   }
   &--material {
      &--light,
      &--dark {
         border: 1px solid $numbers;
         box-shadow: none;
         @media (max-width: 450px) {
            border: none;
         }
      }
   }
}
