
.output {
	@include typo( $ls: 1px );
	@include pos-relative;
	background-color: $primary;
	border-radius: 1rem;
	border: 2px solid $primary;
	overflow: hidden;

	&--neu-plane {
		box-shadow: -4px -4px 8px $shadow-white1,
					4px 4px 8px $shadow-dark2,
					inset -3px -3px 6px $shadow-white1,
					inset 3px 3px 6px $shadow-dark2;
	}
	&--neu-3d {
		box-shadow: inset -3px -3px 6px $shadow-white1,
					inset 3px 3px 6px $shadow-dark2;
	}
	&--material {
		border: none;
		box-shadow: none;
		border-radius: 0rem;
		position: relative;

		&::before {
			content: '';
			display: inline-block;
			position: absolute;
			bottom: 0;
			height: 1px;
			width: 100%;
			border-radius: 5rem;
            background: radial-gradient(circle, $numbers 70%, transparent 100% );
		}
	}

	&__expression {
		@include typo( $c: $numbers , $fs: 4rem );
		@include flex( $jc: flex-end , $ai: center );
		@include box( $h: 4rem );
		@include pos-absolute( $t: 1.1rem , $r: 1rem , $z: 1 );
		overflow: hidden;

		&--num {
			@include typo( $c: inherit , $ff: $digital7 );
		}
		&--op {
			@include typo( $c: $operators , $ff: $solway , $fw: 700 , $fs: 2.5rem );
			margin: 0 5px;
		}
		&--mod {
			@include typo( $c: $operators , $ff: $coustard , $fw: 700 , $fs: 1.8rem );
			margin: 0 5px;
			transform: translateY(2px);
		}
	}

	&__result {
		@include typo( $c: $result , $fs: 3rem , $ff: $digital7 );
		@include pos-absolute( $t: 1rem , $r: 1rem );
		@include flex( $ai: center );
		height: 4rem;
		transform: translateY(6.2rem);	
	}

	&__never-settle {
		@include pos-absolute( $t: 0 , $l: 0 , $z: 999 );
		height: 84%;
		width: 95%;
		transform: translate3d(12px , 7px , 0);
		background: $primary;
		border-radius: 1rem;
		font-weight: 900;
		font-family: sans-serif;
		font-size: 3.4rem;
		color: #f72720;
		@include flex( $jc: center , $ai: center );
	}
}