
#output {
	@include typo( $ff: $opensans , $ls: 1px );
	background-color: $primary;
	border: 2px solid $primary;
	border-radius: 1rem;
	box-shadow: -4px -4px 8px white, 
				4px 4px 8px rgba(67, 75, 75, 0.3),
				inset -3px -3px 6px white, 
				inset 3px 3px 6px rgba(67, 75, 75, 0.3);
	@include pos-relative;
}

.output {

	&__expression {
		@include pos-absolute( $t: 1rem , $r: 1rem );
		height: 6rem;
		width: 94%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&--num {
			font-family: $digital7;
			color: $numbers;
			font-size: 4rem;
		}

		&--op {
			font-family: $solway;
			color: #9f3430;
			font-size: 2.5rem;
			font-weight: 700;
			margin: 0 5px;
		}

		&--mod {
			font-family: $coustard;
			color: #9f3430;
			font-size: 1.8rem;
			font-weight: 700;
			transform: translateY(2px);
			margin: 0 5px;
		}
	}

	&__result {
		@include pos-absolute( $t: 1rem , $r: 1.1rem );
		@include typo( $c: $numbers-dark, $fs: 3rem, $ff: $digital7 );
		transform: translateY(6.8rem);
	}
}