
body {
	@include flex( $jc: center , $ai: center );
	@include box( $h: 100vh , $w: 100vw );
	background-color: #212121e3;
	padding: 1rem;
	-webkit-tap-highlight-color: transparent;

	@media (max-width: 450px) {
		@include flex( $jc: center , $ai: flex-start );
		height: auto;
	}
}